.accordion{
    display: grid;
    width: 300px;
    border: 1px solid #002f00;
    height: 60px;
    align-content: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 30px;
    font-size: 20px;
}
.accordion__modalwindow{
    justify-content: center;
    margin: 20px auto;
    display: grid;
    height: 100%;
    width: 300px;
    align-content: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px;
}

.accordion__modalwindow_text{
    font-size: 20px;
    font-family: Tahoma, Arial, Roboto;

}
.accordion__modalwindow_button-close{
    display: grid;
    margin: 20px auto;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}